.mycontainer{

width:100% !important;

padding: 2px 2px 2px 2px;

margin:0 auto;

}



#firms{

width: 100% !important;

padding:2px 2px 2px 2px;

margin: 0 auto;

overflow: hidden !important;

height: 100% !important;

}